@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap');

body {
    margin: 120px;
    padding: 10px;
    height: 715px;
    background-image: url(img/bg_Illu-01.png);
    font-family: 'Nanum Gothic Coding', monospace;
/*     background: linear-gradient(to top right, #b231f380, #e6882782); */
}

.main {
    border-radius: 10px;
    background-color: #11111111;
    box-shadow: rgba(0, 0, 0, .2) 0px 10px 20px,
     rgba(0, 0, 0, .025) 2px -1px 30px;
    width: 300px;
    height: 300px;
    padding-top: 10px;
}

.login__box {
    display: grid;
    padding: 10px;
    color: #2525259e;
    font-family: Gothic;
    font-size: 18px;
    font-weight: bold;
}

.login__box input {
    align-items: center;
    padding: 15px;
    border-radius: 3px;
    border: none;
/*     box-shadow: rgba(0, 0, 0, .2) 0px 10px 30px,
     rgba(0, 0, 0, .025) 2px -1px 30px; */
    background-image: linear-gradient(to bottom, #ffffff5c, #c5c5c569);
}

.login__box input:focus {
/*     outline: none; */
    border: 1px solid #a015b1a1;
    box-shadow: rgba(0, 0, 0, .2) 0px 5px 20px,
     rgba(0, 0, 0, .025) 1px -1px 20px;
    background-image: linear-gradient(to bottom, #ffffff5c, #b3b3b3bf);
}

.login__box input::placeholder {
    color: #888;
    opacity: .5;
/*     font-weight: 500; */
}

.login__column-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 70px;
    margin: 10px 0;
}

.login__box-btn {
    font-family: 'Nanum Gothic Coding', monospace;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 14px;
    background-image: linear-gradient(to bottom, #3c3c3cc2, #000000bf); */
}

.login__box-btn:hover {
    background-color: rgba(208, 204, 204, 0.64);
}

.login__box-id,
.login__box-pw {
    padding: 5px;
    font-weight: 500;
}
    